body {
    margin: 0;
    overflow: hidden;

    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Verdana, Roboto, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

#map {
    width: 50%;
    height: 100vh;
}

.content {
    width: 50%;
    height: 100vh;
    overflow-y: auto;
    padding: 1rem;
    background-color: lightskyblue;
}


@media screen and (max-width: 768px) {
    body {
        margin: 0;
        overflow-y: auto;
    }

    .container {
        display: block;
    }

    #map {
        width: 100%;
        height: 300px;
    }

    .content {
        width: auto;
        height: auto;
        overflow-y: visible;
        background-color: lightskyblue;
    }
}



#info {
    position: absolute;
    top: 15px;
    right: 15px;
    /* ← ここを変更してズームボタンから離す */
    z-index: 1000;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    max-width: 300px;
    z-index: 1000;
}

/* テーブルデザイン */
.table-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 1rem;
}

.design01 {
    border-collapse: collapse;
    border-spacing: 0;
}

.design01 th {
    text-align: center;
    padding: 5px 10px 5px 10px;
    border: solid 1px #000;
}

.design01 td {
    padding: 5px 10px 5px 10px;
    border: solid 1px #000;
}


/* ページ内リンク */

.small-ref {
    font-size: smaller;
}
